<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">

    </style>
</head>
<body>
<h2>Boletin Informativo del Departamento de Computación</h2>
    <%= Time.now.strftime("%d/%m/%Y") %>
    <ul>
    <% @reports.each do |report| %>
        <li><%= report.title %></li>
    <% end %>
    </ul>
      __________________________________________________________________________________________
    
    <% @reports.each do |report| %>
      <h3><%= report.title %></h3>
      <div style="margin-left: 10px;"> 
        <%= report.content %>
      </div>
      <br>
      - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      <br><br><br>    
    <% end %>
  
<br>
</body>
</html>