<div class ="titulos" >
  <h1>Aprobadas</h1>
</div>

<div class="span10" style="margin-top:20px;">

  <table style="width:800px">
    <thead>
      <tr>
        <th style="width:500px">Título</th>
        <th>Usuario</th>
        <th>Ver</th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= User.find(report.user_id).email %></td>
        <td><%= link_to glyph(:eye_open), report %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

